<div class='well about'>
  <h2>About Me</h2>
  <hr />
  <div class='row'>
   <div class="col-sm-3 image">
        <img src="img/yogapose.png" alt="Yoga With Louise" width="145" height="185" />
    </div>
    <div class="col-sm-9">
      <p class='larger'>Teaching since 2008 and with over a decade of personal practice, you can be sure you are in good hands. I have a unique way of teaching that makes all ages, genders and abilities feel relaxed and confident. Always exploring poses for myself, I encourages all my pupils to go on a 'yoga journey' for themselves, giving them the basic tools they need to change their lifestyle, to a more relaxed, happier, 'in-control' you.</p>
    </div>
  </div>
</div>