<div class="jumbotron">

  <div class='row'>
    <div class="col-sm-3 image">
        <img src="img/yogapose.png" alt="Yoga With Louise" width="145" height="185" />
    </div>
    <div class="col-sm-9">
      <h2>Welcome to Yoga With Louise.</h2>

      <p>If you are looking for a yoga class in Belfast City Centre, or the surrounding area, you've come to the right place. I have been offering classes in Belfast, Comber, Saintfield and Lisburn since 2008, and with my own unique style of teaching make yoga accessible to all. I specialise in helping you bring yoga into your everyday life, and to this end, offer classes to the very young in my Parent and Children Classes to Chair Yoga for the less mobile, and everything in between.</p> 
      <p> Please feel free to browse the range of <a href="index.html#/classes">classes</a>. Hopefully you will find something that suits you and if not, don't hesitate to get in touch and suggest another time, venue or class style!</p> 
      <p>Thanks for visiting.</p> 
      <p><a href="index.html#/timetable" class="btn btn-primary btn-lg" role="button">Timetable &raquo;</a></p>
    </div>
  </div>
</div>
